<!DOCTYPE html>
<html>
<head>
    <title>vue demo</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<!-- app -->
<div id="app" v-bind:title="title">
    {{ message }}
    <button v-on:click="reverseMsg">Reverse Message</button>
    <p v-if="show">Now you see me</p>
    <ol>
        <li v-for="todo in todos">{{ todo }}</li>
    </ol>
    <input v-model="message">
</div>
<script>
var app = new Vue({
    el: '#app',
    data: {
        message: 'Hello Vue!',
        title: 'attr bind',
        show: true,
        todos: [ 'Learn JavaScript', 'Learn Vue', 'Build something awesome' ],
    },
    methods: {
        reverseMsg() {
            this.message = this.message.split('').reverse().join('');
        },
    },
});
console.log('[响应式] 数据与视图已经绑定在一起，所有dom操作都由vue实现。试着修改app.message！');
</script>

<!-- app2 -->
<div id="app2">
    <ol>
        <todo-item v-for="item in list" v-bind:todo="item"></todo-item>
    </ol>
</div>
<script>
Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{todo}}</li>',
});
var app = new Vue({
    el: '#app2',
    data: {
        list: [ 'Vegetables', 'Cheese', 'Whatever else' ],
    },
});
</script>

</body>
</html>
